source https://www.nuget.org/api/v2/

nuget Expecto prerelease
nuget FSharp.Core
nuget FSharp.NET.Sdk
nuget Microsoft.AspNetCore
nuget Newtonsoft.Json
nuget Serilog
nuget Serilog.Sinks.PeriodicBatching
nuget System.Net.Http