source https://api.nuget.org/v3/index.json

nuget Expecto
nuget FSharp.Core
nuget FSharp.NET.Sdk
nuget Microsoft.AspNetCore
nuget Newtonsoft.Json
nuget Serilog
nuget Serilog.Sinks.PeriodicBatching
nuget System.Net.Http